.SidePanel {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  min-height: 100vh;
  padding: 24px;
  transform: translateX(100%);
  transition: 0.3s transform ease-in-out;
  background: #fff;
  box-shadow: 0 0 20px var(--light-gray);

  @media screen and (min-width: 90em) {
    padding: 40px;
  }

  &--active {
    transform: translateX(0);
  }

  .darkMode & {
    background: #000;
  }
}
