.SidePanel {
  position: absolute;
  z-index: 3;
  top: -44px;
  right: -24px;
  min-height: calc(100vh + 60px);
  padding: 44px 24px 24px;
  transform: translateX(calc(100% + 20px));
  transition: 0.3s transform ease-in-out,
    var(--transition-speed) background-color var(--transition-func),
    var(--transition-speed) box-shadow var(--transition-func);
  background: var(--white);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

  @media screen and (min-width: 90em) {
    top: -60px;
    right: -40px;
    padding: 60px 40px 40px;
  }

  &--active {
    transform: translateX(0);
  }
}
