.Burger {
  --burger-box-size: 40px;
  --burger-width: 20px;
  --burger-line-thickness: 2px;
  --burger-line-margin: 6px;
  width: var(--burger-box-size);
  height: var(--burger-box-size);
  padding: 0 calc((var(--burger-box-size) - var(--burger-width)) / 2);
  transition: var(--transition-speed) background-color var(--transition-func),
    var(--transition-speed) border-color var(--transition-func);
  border: 1px solid var(--light-gray);
  background-color: var(--white);
  appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;

  &:focus,
  &--active {
    border-color: var(--medium-gray);
  }

  /* stylelint-disable no-descending-specificity */
  &__line {
    display: block;
    width: 100%;
    height: var(--burger-line-thickness);
    margin: var(--burger-line-margin) auto;
    transition: transform 0.3s ease-in-out,
      var(--transition-speed) background-color var(--transition-func);
    background-color: var(--black);

    &:nth-child(1) {
      margin-top: 0;
      .Burger--active & {
        transform: translateY(
          calc(var(--burger-line-thickness) + var(--burger-line-margin))
        );
      }
    }

    &:nth-child(3) {
      margin-bottom: 0;
      .Burger--active & {
        transform: translateY(
          calc((var(--burger-line-thickness) + var(--burger-line-margin)) * -1)
        );
      }
    }
  }

  &__label {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
  }
}
