.HomeHeader {
  display: grid;
  align-items: flex-end;
  gap: 24px;
  @media screen and (min-width: 64em) {
    grid-template-columns: 1.5fr 1fr;
    margin-right: 0;
  }

  &__bio {
    margin-right: 52px;
    @media screen and (min-width: 40em) {
      margin-right: 0;
    }
  }

  &__search {
    max-width: 500px;
  }
}
