.HomeHeader {
  &__bio {
    margin-right: 52px;
    @media screen and (min-width: 40em) {
      margin-right: 0;
    }
  }
  &__search {
    @media screen and (min-width: 40em) {
      margin-right: 132px;
    }
    @media screen and (min-width: 64em) {
      margin-right: 0;
    }
  }
}
