.Layout {
  &__main,
  &__header,
  &__footer {
    max-width: 770px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 24px;
  }

  &__break {
    margin: 0;
    margin-top: 24px;
    transition: var(--transition-speed) border-color var(--transition-func);
    border: 0;
    border-bottom: 1px solid var(--light-gray);
  }

  &__header {
    margin-top: 24px;
    margin-bottom: 24px;

    &--wide {
      max-width: 1300px;
      @media screen and (min-width: 90em) {
        margin-top: 40px;
        margin-bottom: 40px;

        .Layout__break {
          margin-top: 40px;
        }
      }
    }
  }

  &__headerBio {
    margin-right: 52px;
    @media screen and (min-width: 40em) {
      margin-right: 132px;
    }
    @media screen and (min-width: 64em) {
      margin-right: 0;
    }
  }

  &__fixed {
    display: flex;
    position: fixed;
    z-index: 1;
    top: 24px;
    right: 24px;
    @media screen and (min-width: 90em) {
      top: 40px;
      right: 40px;
    }
  }

  &__forkButton {
    margin-right: 10px;
    @media screen and (max-width: 39.75em) {
      display: none;
    }
  }

  &__darkModeToggle,
  &__darkModeLabel {
    width: 36px;
    margin-right: 56px;
    @media screen and (min-width: 40em) {
      margin-right: 64px;
    }
    @media screen and (min-width: 90em) {
      margin-right: 84px;
    }
  }

  &__darkModeLabel {
    display: block;
    width: 36px;
    margin-bottom: 6px;
    font-family: var(--font-sans);
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
  }

  &__burger {
    z-index: 10;
  }
}
