.GithubButton {
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  transition: var(--transition-speed) border-color var(--transition-func);
  border: 1px solid var(--light-gray);
  background: var(--dark-gray);
  color: var(--white);
  font-family: var(--font-sans);
  font-size: smaller;
  font-weight: 700;
  text-decoration: none;

  &:hover,
  &:focus {
    background: var(--black);
  }

  &__icon {
    margin-right: 6px;
    fill: var(--white);
  }
}
