.Footer {

  &__bottom {
    margin: 24px 0;
    color: var(--medium-gray);
    font-family: var(--font-sans);
    font-size: smaller;
    font-weight: 700;

    @media screen and (min-width: 40em) {
      display: grid;
      grid-template-columns: repeat(2, auto);
      gap: 10px;
      align-items: center;
    }

    @media screen and (min-width: 64em) {
      margin: 40px 0;
    }
  }

  &__credit {
    text-align: right;
  }

  &__menu {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__menuItem {
    display: inline-block;
    margin: 0;
    margin-right: 10px;
    white-space: nowrap;
  }

  &__menuLink {
    color: var(--medium-gray);
    text-decoration: none;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
