.Toggle {
  --toggle-height: 18px;
  touch-action: pan-x;
  display: inline-block;
  position: relative;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;

  &__srt {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
  }

  &__track {
    width: calc(var(--toggle-height) * 2);
    height: calc(var(--toggle-height) + 2px);
    padding: 0;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms,
      var(--transition-speed) border-color var(--transition-func);
    border: 2px solid var(--black);
    border-radius: calc(var(--toggle-height) / 2 + 1px);
    background-color: var(--light-gray);
  }

  &__trackCheck {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 5px;
    width: 17px;
    height: 17px;
    margin-top: auto;
    margin-bottom: auto;
    transition: opacity var(--transition-speed) ease;
    opacity: 0;
    line-height: 0;

    .Toggle--checked & {
      transition: opacity var(--transition-speed) ease;
      opacity: 1;
    }
  }

  &__trackX {
    position: absolute;
    top: 0;
    right: 5px;
    bottom: 0;
    width: 17px;
    height: 17px;
    margin-top: auto;
    margin-bottom: auto;
    transition: opacity var(--transition-speed) ease;
    opacity: 1;
    line-height: 0;

    .Toggle--checked & {
      opacity: 0;
    }
  }

  &__thumb {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: calc(var(--toggle-height) + 2px);
    height: calc(var(--toggle-height) + 2px);
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    border-radius: 50%;
    background: #ffffed;
    box-shadow: 0px 0px 10px 4px #ffffed;

    .Toggle--checked & {
      transform: translateX(calc(var(--toggle-height) - 2px));
      background-color: var(--xxlight-gray);
      background-image: linear-gradient(135deg, #d9d9d9 0%, #757575 100%);
      box-shadow: inset -2px -2px 2px 0px rgba(0, 0, 0, 0.25),
        inset 0 0 2px 1px rgba(0, 0, 0, 0.5);
    }

    .Toggle--focus & {
      box-shadow: 0 0 2px 3px var(--green), 0px 0px 10px 4px #ffffed;
    }

    .Toggle--checked.Toggle--focus & {
      box-shadow: 0 0 2px 3px var(--green),
        inset -2px -2px 2px 0px rgba(0, 0, 0, 0.25),
        inset 0 0 2px 1px rgba(0, 0, 0, 0.5);
    }
  }

  &__crater,
  &__ray {
    position: absolute;
  }

  &__crater {
    top: 30%;
    left: 15%;
    width: 3px;
    height: 3px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    border-radius: 50%;
    opacity: 0;
    background-color: #757575;
    box-shadow: inset -1px -1px 1px 0px rgba(0, 0, 0, 0.125);

    &:nth-child(2) {
      top: 15%;
      left: 36%;
      width: 4px;
      height: 4px;
    }

    .Toggle--checked & {
      opacity: 0.5;
    }
  }
}
