.Toggle {
  --toggle-height: 18px;
  touch-action: pan-x;
  display: inline-block;
  position: relative;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
  }

  &__track {
    width: calc(var(--toggle-height) * 2);
    height: calc(var(--toggle-height) / 2);
    padding: 0;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms,
      var(--transition-speed) border-color var(--transition-func);
    border: 0;
    border-radius: calc(var(--toggle-height) / 2 + 1px);
    background-color: var(--light-gray);
  }

  &__thumb {
    position: absolute;
    top: 50%;
    left: 0;
    box-sizing: border-box;
    width: calc(var(--toggle-height) + 2px);
    height: calc(var(--toggle-height) + 2px);
    overflow: hidden;
    transform: translate(0, -50%);
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    border-radius: 50%;
    background-color: var(--dark-gray);

    .Toggle--checked & {
      transform: translate(calc(var(--toggle-height) - 2px), -50%);
    }

    .Toggle--focus & {
      box-shadow: 0 0 2px 3px var(--green);
    }

    .Toggle--checked.Toggle--focus & {
      box-shadow: 0 0 2px 3px var(--green);
    }
  }
}
